{% extends 'base.html' %}

{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 mt-5">

            <form action="/usuarios/crear/" method="POST" class="card card-body">

                <h1>Crear Usuario</h1>

                {{error}}

                {% csrf_token %}
                {{form.as_p}}
                <div>
                    <!-- <button class="btn btn-danger"></button> -->
                    <a href="{% url 'usuarios' %}" class="btn btn-danger">Cancelar</a>
                    <!-- <button class="btn btn-primary" type="submit"><a href="{% url 'usuarios' %}">Registrar</a></button> -->
                    <button class="btn btn-primary" type="submit">Registrar</button>
                </div>
            </form>
        </div>
    </div>
</main>

{% endblock %}